<h1>Listing patentnos</h1>

<table>
  <thead>
    <tr>
      <th>Patno</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patentnos.each do |patentno| %>
      <tr>
        <td><%= patentno.patno %></td>
        <td><%= link_to 'Show', patentno %></td>
        <td><%= link_to 'Edit', edit_patentno_path(patentno) %></td>
        <td><%= link_to 'Destroy', patentno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patentno', new_patentno_path %>
