<p id="notice"><%= notice %></p>

<p>
  <strong>Invno:</strong>
  <%= @caseinfo.invno %>
</p>

<p>
  <strong>Itmoc:</strong>
  <%= @caseinfo.itmoc %>
</p>

<p>
  <strong>Uain:</strong>
  <%= @caseinfo.uain %>
</p>

<p>
  <strong>Patno:</strong>
  <% @caseinfo.patentnos.each do |pn| %>|<%= link_to pn.patno, patentno_path(pn) %>|<% end %>
</p>

<p>
  <strong>Country:</strong>
  <%= @caseinfo.country %>
</p>

<p>
  <strong>Respondents:</strong>
  <%= @caseinfo.respondents %>
</p>

<p>
  <strong>Alj:</strong>
  <%= @caseinfo.alj %>
</p>

<p>
  <strong>Ouiiattorney:</strong>
  <%= @caseinfo.ouiiattorney %>
</p>

<p>
  <strong>Gcattorney:</strong>
  <%= @caseinfo.gcattorney %>
</p>

<p>
  <strong>Statusbeforecommission:</strong>
  <%= @caseinfo.statusbeforecommission %>
</p>

<p>
  <strong>Noticeofinv:</strong>
  <%= @caseinfo.noticeofinv %>
</p>

<p>
  <strong>Proceedtype:</strong>
  <%= @caseinfo.proceedtype %>
</p>

<p>
  <strong>Currentphase:</strong>
  <%= @caseinfo.currentphase %>
</p>

<p>
  <strong>Invtermdate:</strong>
  <%= @caseinfo.invtermdate %>
</p>

<p>
  <strong>Publishopinion:</strong>
  <%= @caseinfo.publishopinion %>
</p>

<p>
  <strong>Relatedcourtdecision:</strong>
  <%= @caseinfo.relatedcourtdecision %>
</p>

<p>
  <strong>Appealstatus:</strong>
  <%= @caseinfo.appealstatus %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @caseinfo.disposition %>
</p>

<p>
  <strong>Unfairactsfound:</strong>
  <%= @caseinfo.unfairactsfound %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @caseinfo.notes %>
</p>

<p>
  <strong>Activeexpiredremedial:</strong>
  <%= @caseinfo.activeexpiredremedial %>
</p>

<p>
  <strong>Exclusioncdorders:</strong>
  <%= @caseinfo.exclusioncdorders %>
</p>

<p>
  <strong>Targetdate:</strong>
  <%= @caseinfo.targetdate %>
</p>

<p>
  <strong>Violationfinalduedate:</strong>
  <%= @caseinfo.violationfinalduedate %>
</p>

<p>
  <strong>Beginenddates:</strong>
  <%= @caseinfo.beginenddates %>
</p>

<p>
  <strong>Archivist:</strong>
  <%= @caseinfo.archivist %>
</p>

<%= link_to 'Edit', edit_caseinfo_path(@caseinfo) %> |
<%= link_to 'Back', caseinfos_path %>
