<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @scrapeparam.url %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @scrapeparam.pages %>
</p>

<%= link_to 'Edit', edit_scrapeparam_path(@scrapeparam) %> |
<%= link_to 'Back', scrapeparams_path %>
